@import "tailwindcss";

/* ol,
ul,
menu {
  list-style: disc;
} */

ul,
ol {
  list-style: initial;
  padding-left: 1.25rem; /* or whatever default you prefer */
}

table,
th,
td {
  border: 1px solid #fff;
  padding: 10px;
}

table tr {
  border-bottom: 1px solid #fff;
  padding: 10px;
}
